@font-face {
  font-family: "Helvetica Neue";
  font-weight: normal;
  src: url("~assets/fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"),
    url("~assets/fonts/HelveticaNeueLTStd-Cn.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: bold;
  src: url("~assets/fonts/HelveticaNeueLTStd-BdCn.woff2") format("woff2"),
    url("~assets/fonts/HelveticaNeueLTStd-BdCn.otf") format("opentype");
}

@font-face {
  font-family: "Berlin Sans";
  font-weight: normal;
  src: url("~assets/fonts/BerlinSans.woff") format("woff"),
    url("~assets/fonts/BerlinSans.otf") format("opentype");
}

.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.2s;
}

.page-enter,
.page-leave-active,
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
