// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

// Width of a standard poker card representing roughly 88mm at 300 DPI.
$card-width: 1038px;
// Height of a standard poker card representing roughly 63mm at 300 DPI.
$card-height: 744px;
// Standard border radius of 3.175mm at 300 DPI.
$card-border-radius: 37.5px;
// Maximum width of a card including printing offsets supported by the application.
$card-max-width: 1150px;
// Maximum height of a card including printing offsets supported by the application.
$card-max-height: 850px;

// Width of a European mini card representing roughly 67mm at 300 DPI.
$minion-card-width: 792px;
// Height of a European mini card representing roughly 44mm at 300 DPI.
$minion-card-height: 519px;
