// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

// Current card assets configuration:
$card-width: 521px;
$card-height: 373px;
$card-border-radius: 18px;

$minion-card-width: 402px;
$minion-card-height: 258px;
